<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GPS Data Viewer</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"/>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
</head>
<body>
    <h1>GPS Data Viewer</h1>
    <form id="dataForm">
        <label for="person">Choose a person:</label>
        <select name="person" id="person">
            {% for person in persons %}
            <option value="{{ person }}">{{ person }}</option>
            {% endfor %}
        </select>
        <label for="date">Choose a date:</label>
        <select name="date" id="date"></select>
        <button type="submit">Show Map</button>
    </form>
    <div id="personHeading" style="text-align:center; margin-top:20px;"></div>
    <div id="map" style="width: 80%; height: 50vh; margin: 20px auto;"></div>
    
    <script src="{{ url_for('static', filename='js/walking-map.js') }}"></script>

</body>
</html>
